.profile {
    padding-top: 35px;
}

.profile .name {
    text-align: center;
    font-size: 42px;
    font-weight: 600;

    margin-bottom: 0.2rem;
}

.profile .color {
    width: 250px;
    
    padding: 1.75rem;

    margin-bottom: 45px;
    margin-left: 50%;
    transform: translateX(-50%);

    border: 1px solid rgb(136 136 136 / 56%);
    border-radius: 10px;
}

.profile .metrics {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.profile .metrics .col {
    margin-top: 1.3rem;
}

.profile .metrics .col .metric {
    width: 65%;

    border-bottom: 4px solid var(--main-bg-red);

    margin-left: 50%;
    transform: translateX(-50%);
}

.profile .metrics .col .metric .title {
    margin-bottom: 0;

    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1.5px;
}

.profile .metrics .col .metric .number {
    margin-bottom: 0.33rem;

    font-size: 32px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}



.accounts {
    margin-top: 90px;
    margin-bottom: 40px;

    padding-top: 50px;
    padding-bottom: 60px;

    background: var(--main-bg-yellow);
}

.accounts h1 {
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 1.8rem;
}

.accounts .list-group {
    width: max-content;

    margin-left: 50%;
    transform: translateX(-50%);
}

.accounts .list-group .list-group-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 32px;
    padding-right: 32px;

    text-align: center;
}



.analytics {
    padding-bottom: 100px;
}

.analytics .stats {
    max-width: 90%;
    width: 90%;

    margin-left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-gap: 45px;
    grid-template-columns: repeat(4, 1fr);
}

.analytics .stats .col {
    margin-top: 1.3rem;
}

.analytics .stats .col .data {
    width: 85%;

    border-bottom: 4px solid var(--main-text-blue);

    margin-left: 50%;
    transform: translateX(-50%);
}

.analytics .stats .col .data .title {
    margin-bottom: 0;

    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1.5px;
}

.analytics .stats .col .data .title a {
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--main-text-black);
}

.analytics .stats .col .data .number {
    margin-bottom: 0.33rem;

    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

.analytics .stats .col .data .number sub {
    font-size: 14px;
}

.analytics .charts {
    margin-top: 95px;
    margin-left: 50%;
    transform: translateX(-50%);

    width: 80%;
}

.analytics .charts .line-chart {
    margin-top: 60px;
    margin-left: 50%;
    transform: translateX(-50%);

    width: fit-content;
    height: fit-content;
}

.analytics .charts .line-chart .suggestion {
    font-size: 13px;
    font-style: italic;
    color: #666;

    margin-bottom: 3px;
}

.analytics .charts .line-chart iframe {
    width: 1000px; 
    height: 480px;
}

.analytics .charts .line-chart .btn {
    margin-top: 10px;
    padding: 10px 15px;
}



@media (min-width: 768px) and (max-width: 1024px) { /* Tablet */
    .profile .metrics {
        width: 95%;
        grid-gap: 25px;
    }

    .profile .metrics .col .metric {
        width: 94%;
    }

    .analytics .stats {
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .analytics .charts .line-chart .suggestion {
        display: none;
    }

    .analytics .charts .line-chart iframe {
        width: 650px; 
    }

    .analytics .charts .line-chart .btn {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 480px) { /* Smartphone */
    .buttons {
        position: unset;
    }

    .profile {
        padding-top: 13px;
    }

    .profile .metrics {
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .profile .metrics .col .metric {
        width: 90%;
    }

    .analytics .stats {
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .analytics .charts {
        width: 150%;
    }

    .analytics .charts .line-chart .suggestion {
        display: none;
    }

    .analytics .charts .line-chart iframe {
        width: 320px; 
    }

    .analytics .charts .line-chart .btn {
        display: none;
    }
}