* {
    font-family: "Roboto", "Arial", sans-serif;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

:root {
    --main-bg-red: #E71D36;
    --main-bg-yellow: #fed99b5e;
    --main-bg-orange: #FF9F1C;
    --main-bg-white: #FDFFFC;
    --main-text-blue: #2EC4B6;
    --main-text-black: #011627;
}

::-webkit-scrollbar {
    z-index: 15;
    width: 16px
}
::-webkit-scrollbar-track {
    background: var(--main-bg-white)
}
::-webkit-scrollbar-thumb {
    background: var(--main-bg-yellow);
    border: 4px solid var(--main-bg-white)
}
::-webkit-scrollbar-thumb:hover {
    background: #feda9bd7;
}

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background: var(--main-bg-white);
    color: var(--main-text-black);
}

.back {
    position: absolute;
    z-index: 40;

    width: 70px;

    margin-top: 10px;
    margin-left: 20px;
}



@media (min-width: 320px) and (max-width: 1024px) { 
    ::-webkit-scrollbar {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 480px) { /* Smartphone */
    .back {
        position: unset;
    }
}