<!DOCTYPE html>
<html translate="no">
    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="theme-color" content="#fed99b5e"/>
        <meta name="author" content="Antonio Scardace">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/account.css">

        <link rel="icon" type="image/png" sizes="32x32" href="imgs/logo.png">
        <link rel="icon" type="image/png" sizes="16x16" href="imgs/logo.png">

        <title>Politics Stats | Account</title>

    </head>
    <body ng-app="account" ng-controller="dataCtrl">

        <a href="/index.html"><img class="back" src="imgs/home.gif" alt="Back Home"/></a>

        <section class="profile">
            <p class="name">{{ name }}</p>
            <div class="username">
                <a target="_blank" ng-href="https://twitter.com/{{handle}}" class="handle">@{{ handle }}</a>
                <img class="verified" ng-src="imgs/verified.png" ng-hide="!verified"/>
            </div>
            <img class="profile_image" ng-src="{{img_url}}"/>
            <p class="created">Account Created On: <b>{{ created_on }}</b></p>

            <div class="container metrics">
                <div class="col">
                    <div class="metric odd">
                        <p class="title">Total Followers</p>
                        <p class="number">{{ followers }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="metric even">
                        <p class="title">Total Following</p>
                        <p class="number">{{ following }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="metric odd">
                        <p class="title">Total Tweets</p>
                        <p class="number">{{ tot_tweets }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="metric even">
                        <p class="title">Analyzed Tweets Yesterday</p>
                        <p class="number">{{ num_tweets }}</p>
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="text">
                    <p class="description">{{ descr }}</p>
                </div>
            </div>
        </section>

        <section class="analytics">
            <div class="container stats">
                <div class="col">
                    <div class="data">
                        <p class="title">Total Likes Yesterday</p>
                        <p class="number">{{ tot_likes }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="data">
                        <p class="title">Total Retweets Yesterday</p>
                        <p class="number">{{ tot_retweets }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="data">
                        <p class="title">Total Replies Yesterday</p>
                        <p class="number">{{ tot_replies }}</p>
                    </div>
                </div>

                <div class="col">
                    <div class="data">
                        <p class="title">Avg Tweet Length Yesterday</p>
                        <p class="number">{{ avg_len }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="data">
                        <p class="title">Avg Likes Yesterday</p>
                        <p class="number">{{ avg_likes }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="data">
                        <p class="title">Avg Retweets Yesterday</p>
                        <p class="number">{{ avg_retweets }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="data">
                        <p class="title">Avg Replies Yesterday</p>
                        <p class="number">{{ avg_replies }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="data">
                        <p class="title">Avg Sentiment Yesterday<br/><a href="https://ojs.aaai.org/index.php/ICWSM/article/view/14550" target="_blank">F1 Accuracy: 0.96 and 0.84</a></p>
                        <p class="number">{{ avg_sentiment }}</p>
                    </div>
                </div>
            </div>

            <div class="hashtags-rank">
                <h1>Top 5 Used Hashtags</h1>
    
                <div class="container">
                    <div class="card">
                        <div class="card-body" ng-repeat="w in whashtags">
                            <h5 class="card-title">Top 5 - In a Week</h5>
                            <ul><li><p>{{ w.hashtag }} ({{ w.occurrences }})</p></li></ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body" ng-repeat="m in mhashtags">
                            <h5 class="card-title">Top 5 - In a Month</h5>
                            <ul><li><p>{{ m.hashtag }} ({{ m.occurrences }})</p></li></ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body" ng-repeat="y in yhashtags">
                            <h5 class="card-title">Top 5 - In a Year</h5>
                            <ul><li><p>{{ y.hashtag }} ({{ y.occurrences }})</p></li></ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="charts">
                <div class="line-chart">
                    <iframe id="iframe-num-followers" frameborder="0"></iframe>
                    <p class="suggestion">To zoom in, select the time range with your mouse.</p>
                    <button type="button" class="btn btn-danger" onclick="refreshChart(this)"><i class="fa-solid fa-arrows-rotate"></i> Reset Zoom Out</button>
                </div>
                <div class="line-chart">
                    <iframe id="iframe-num-tweets" frameborder="0"></iframe>
                    <p class="suggestion">To zoom in, select the time range with your mouse.</p>
                    <button type="button" class="btn btn-danger" onclick="refreshChart(this)"><i class="fa-solid fa-arrows-rotate"></i> Reset Zoom Out</button>
                </div>
                <div class="line-chart">
                    <iframe id="iframe-avg-len" frameborder="0"></iframe>
                    <p class="suggestion">To zoom in, select the time range with your mouse.</p>
                    <button type="button" class="btn btn-danger" onclick="refreshChart(this)"><i class="fa-solid fa-arrows-rotate"></i> Reset Zoom Out</button>
                </div>
                <div class="line-chart">
                    <iframe id="iframe-avg-likes" frameborder="0"></iframe>
                    <p class="suggestion">To zoom in, select the time range with your mouse.</p>
                    <button type="button" class="btn btn-danger" onclick="refreshChart(this)"><i class="fa-solid fa-arrows-rotate"></i> Reset Zoom Out</button>
                </div>
                <div class="line-chart">
                    <iframe id="iframe-avg-retweets" frameborder="0"></iframe>
                    <p class="suggestion">To zoom in, select the time range with your mouse.</p>
                    <button type="button" class="btn btn-danger" onclick="refreshChart(this)"><i class="fa-solid fa-arrows-rotate"></i> Reset Zoom Out</button>
                </div>
                <div class="line-chart">
                    <iframe id="iframe-avg-replies" frameborder="0"></iframe>
                    <p class="suggestion">To zoom in, select the time range with your mouse.</p>
                    <button type="button" class="btn btn-danger" onclick="refreshChart(this)"><i class="fa-solid fa-arrows-rotate"></i> Reset Zoom Out</button>
                </div>
            </div>
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/b074a19227.js" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
        <script src="js/account.js"></script>
        
    </body>
</html>